/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global Reset and Basic Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* Root Color Variables */
:root {
  --bg-color: #081b29;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

/* Base Styling */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
}

.header .sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }}

  /* Page Title */
.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 50px 0;
}
