@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

/* Root Color Variables */
:root {
  --bg-color: #081b29;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --disabled-color: #fff3;
} 

html {
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

header.active {
  animation: show-header 1.5s linear forwards;
  animation-delay: 1.2s;
}

@keyframes show-header {
  100% {
      visibility: visible;
      opacity: 1;
  }
}

/* Home Section */
.home {
  display: flex;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
}

.home-info {
  font-size: 4.5rem;
}

.home-info h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

.home-info h2 {
  display: inline-block;
  font-size: 3.1rem;
  margin-top: -10px;
}

.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-color);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width:0;
  border-right: 2px solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

.home-info p {
  font-size: 16px;
  margin: 10px 0 25px;
}

/* Social Media Buttons */
.home-info .social-media {
  display: flex;
  gap: 1.25rem;
}

.btn, #submit {
  display: inline-block;
  padding: 10px 28px;
  background: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 40px;
  box-shadow: 0 0 10px;
  font-size: 16px;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.btn:hover, #submit:hover {
  background: transparent;
  color: var(--main-color);
  box-shadow: none;
}

.home-info .social-media a {
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  transition: .5s;
}

.home-info .social-media a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 10px var(--main-color);
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* Image Animation */
 .home-img .img-box {
  width: 32vw;
  position: relative;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: '';
  position: absolute;
  width: calc(32vw + 20px);
  height: calc(32vw + 20px);
  background: conic-gradient(transparent, transparent, transparent, var(--main-color));
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
  animation-delay: -5s;
}

.img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #081b29;
  border-radius: 50%;
  border: .1px solid #081b29;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.home-img .img-box .img-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2); 
  width: 145%; 
  height: auto;
  object-fit: cover;
  object-position: center center;
  mix-blend-mode: lighten;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg)
  }
}

/* Animated Bars section */
.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #081b29;
  transform: translateY(-100%);
  animation: show-bars .5s ease-in-out forwards;
  animation-delay: calc(.1s * var(--i));
}

/* Style Proficiency and Skills section */
.proficiency h2 {
  margin-bottom: 5rem;
}

.proficiency-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.proficiency-container .proficiency-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg-color);
  transition: .5s ease;
}

.proficiency-box i {
  font-size: 5rem;
  color: var(--main-color);
}

.proficiency-box h3 {
  font-size: 2.3rem;
}

.proficiency-box p {
  font-size: 1.4rem;
  margin: 1rem 0 3rem;
}

.proficiency-container .proficiency-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

/* Portfolio section Design - Projects done layout */
.portfolio {
  background: var(--second-bg-color);
  /* margin-bottom: -25rem; */
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

/* Center the "See More Projects" button */
.btn-container {
  grid-column: span 3; 
  display: flex;
  justify-content: center;
  margin-top: 2rem; 
}
 
.btn-container .btn {
  padding: 1rem 2rem; 
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  background: var(--bg-color);
  padding: 3rem;
}

.portfolio-box img {
  width:  100%;
  transition: .5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.5rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}
/* Contact section Design */
.contact {
  background: var(--second-bg-color);
  /* margin-bottom: -25rem; */
}
.contact h2 {
  margin-bottom: 3rem;

}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contactForm input, 
#contactForm textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.form-group-outer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-group-outer .form-group {
  width: 50%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footer-text {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;

}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);

}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* BREAKPOINTS */
@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }
  .resume {
    padding-bottom: 7rem;
  }
  
  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  nav.active {
    display: block;
    margin: 4rem 0;
  }

  nav a {
    display: block;
    font-size: 2rem;
  }

  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }

  .home-info h3 {
    font-size: 2.6rem;
  }

  .home-info h1 {
    font-size: 4rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .home-img .img-box {
    width: 35rem;
    height: 35rem;
  }

  .resume-container,
  .contact-container {
    grid-template-columns: 1fr;
  }

  .resume-container {
    gap: 3rem;
    grid-template-columns: 1fr;
  }

  .proficiency h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: 1fr 1fr;
  }

  .contact-box .field-box {
    grid-template-columns: repeat(2, 1fr);
}
}

/* Resume Section Styling*/

.resume-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

.resume-box h2 {
  font-size: 3.1rem;
}

.resume-box p {
  font-size: 1.4rem;
  /* text-align: justify; */
}

.resume-box .desc {
  margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn {
  width: 100%;
  height: 5.3rem;
  background: var(--second-bg-color);
  border: .2rem solid var(--second-bg-color);
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: .8rem;
  cursor: pointer;
}

.resume-box .resume-btn.active {
  border-color: var(--main-color);
  color: var(--main-color);
}

.resume-detail {
  display: none;
}

.resume-detail.active {
  display: block;
}

.resume-box .heading {
  font-size: 3.1rem;
  text-align: left;
}

.resume-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.resume-list::-webkit-scrollbar {
  width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

.resume-list .resume-item {
  background: var(--second-bg-color);
  border-radius: .8rem;
  padding: 3rem 2.5rem;
  /* height: calc((52rem - 2rem) / 2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume-item .year {
  color: var(--main-color);
}

.resume-item .year i {
  margin-right: 8px;
}

.resume-item h3 {
  font-size: 1.8rem;
}

.resume-item .company {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: var(--main-color);
}

.resume-item .company::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: .5rem;
  background: var(--main-color);
  border-radius: 50%;
  margin-left: -2rem;
}

/* Skill Bars Section */

.resume-detail.skills .resume-list {
  display: flex;
  flex-direction: column; 
  gap: 3rem; 
}

/* For each skill section */
.resume-detail.skills .resume-item {
  margin-bottom: 2.3rem; 
  background: none;
}

.skill-bar {
  margin-bottom: 2.3rem;
  position: relative;
}

.skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0 10px;
  color: var(--text-color);
}

.skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--second-bg-color);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

.skill-bar .bar span {
  display: block;
  height: 100%;
  background: var(--main-color);
  border-radius: 25px;
  transition: width 1s ease-in-out;
}

/* Individual Animations */
.skill-bar .bar .qgis {
  width: 91%;
  animation: qgis 2s ease-in-out;
}

.skill-bar .bar .gee {
  width: 89%;
  animation: gee 2s ease-in-out;
}

.skill-bar .bar .r {
  width: 85%;
  animation: r 2s ease-in-out;
}

.skill-bar .bar .python {
  width: 80%;
  animation: python 2s ease-in-out;
}

.skill-bar .bar .javascript {
  width: 79%;
  animation: javascript 2s ease-in-out;
}

.skill-bar .bar .postgres-sql {
  width: 78%;
  animation: postgres-sql 2s ease-in-out;
}

.skill-bar .bar .html {
  width: 75%;
  animation: html 2s ease-in-out;
}

.skill-bar .bar .css {
  width: 60%;
  animation: css 2s ease-in-out;
}

@keyframes qgis {
  0% {
    width: 0%;
  }
  100% {
    width: 91%;
  }
}
@keyframes gee {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}

@keyframes r {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 79%;
  }
}
@keyframes postgres-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 78%;
  }
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* Professional Skills Circles */
/* Professional skills container */
.skill-right {
  margin-top: 2rem; /* Add space between technical and professional skills */
}

.skill-right h3 {
  font-size: 22px;
  margin-top: 48px;
  margin-bottom: 1.5rem;
  color: var(--main-color);
  text-align: center;
}

.skill-right .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.skill-right .circle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  gap: 20px;
}

.container .circle::before{
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  background-color: #222;
  opacity: 0.8;
}
.container .circle::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background: #333;
  border: 15px solid #4d4c51;
  border-radius: 50%;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.75),
  0 -2px 2px rgba(255, 255, 255, 0.5),
  inset 0 4px 2px rgba(0, 0, 0, 0.25),
  inset 0 -2px 2px rgba(255, 255, 255, 0.5);
}

.container .circle .number {
  position: relative;
  color: var(--text-color);
  z-index: 10;
  line-height: 1em;
  font-size: 2em;
}

.container .circle .number span {
  font-size: 2rem;
  font-weight: 500;
}

.container .circle h4 {
  position: absolute;
  color: var(--text-color);
  z-index: 10;
  top: 60%; /* Move the text lower */
  transform: translateY(-50%); /* Center-align it vertically relative to its top position */
  font-weight: 500;
  font-size: 1.1rem !important;
  text-align: center;
  line-height: 1.2; /* Adjust spacing between lines if needed */
}


/* Mobile screens and smaller (max-width: 480px) */
/* @media (max-width: 480px) {
  .container {
      grid-template-columns: 1fr; 
      gap: 20px; 
  }

  .circle {
      width: 120px; 
      height: 120px;
  }

  .number {
      font-size: 1.2em; 
  }

  h4 {
      font-size: 0.8rem; 
  }
}

@media (max-width: 768px) {
  .skill-main {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .skill-main {
    flex-direction: column;
    grid-template-columns: 1fr; 
    text-align: center;
  }
}

@media (max-width: 617px) {
  .skill-main {
    grid-template-columns: 1fr;
  }
} */


.resume-detail.about .resume-list {
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.resume-detail.about .resume-item {
  height: 100%;
  padding: 0 0 .5rem;
  background: transparent;
}

.resume-detail.about .desc {
  color: var(--text-color);
  font-size: 1.4rem;
  text-align: justify;
}

.resume-detail.about .resume-item p {
  color: var(--main-color);
  font-size: 1.6rem;
}

.resume-detail.about .resume-item p span {
  color: var(--text-color);
  margin-left: 1rem;
  font-size: 1.4rem;
}

/* KEY FRAMES FOR THE ENTIRE PROJECT */
@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes display-text {
  25%, 
  100% {
    display: none;
  }
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

/* About section key frames */
@keyframes rotate-border {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes show-bars {
  100% {
    transform: translateY(0%)
  }
}

@keyframes show-right {
  100% {
    width: 0;
  }
}

@media screen and (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr; 
    gap: 1.5rem; 
  }

  .portfolio-box {
    margin: 0 auto; 
    width: 100%; 
  }
  .portfolio-container .portfolio-box {
    padding: 0;
  }
  .portfolio-box .portfolio-layer {
    padding: 0 1rem;
  }
  .portfolio-layer h4 {
    font-size: 1.8rem;
  }
  
  .btn-container {
    grid-column: 1; 
  }
}

@media screen and (max-width: 600px) {
  .home-img .img-box {
      width: 30rem;
      height: 30rem;
  }

  .contact-box .field-box {
      grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {

  .home-info,
  .resume-box h2,
  .resume-box .heading,
  .resume-box .desc,
  .resume-detail.about .resume-item {
      text-align: center;
  }

  .home-info .btn-sci {
      flex-direction: column-reverse;
  }

  .home-info .btn-sci .sci {
      margin-left: 0;
      margin-bottom: 2rem;
  }

  .contact-box form {
      padding: 2.5rem 3rem 3.5rem;
  }

  .contact-box h2 {
      font-size: 3.5rem;
  }
}

/* @media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .about-img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
} */


/* mobile nav  */
@media screen and (max-width:991px) {
  
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    flex-direction: column;
    display: none;
    padding: 25px;
  }

  .navbar.active {
    display: flex;
    gap: 3rem;
    margin: 0;
    padding-top: 25px;
    border-top: 1px solid #fff;
  }

  .skill-right .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar a {
    margin-left: 0px !important;
  }

}


@media screen and (max-width:767px) {
  
  .resume-container {
    gap: 3rem;
    grid-template-columns: 1fr;
  }

  .form-group-outer {
    flex-direction: column;
    gap: 0;
  }
  .form-group-outer .form-group {
    width: 100%;
  }

  .resume-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .skill-right .container {
    grid-template-columns: repeat(1, 1fr);
  }

}
